@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100wh;
    height: 100vh;
    background-color:darkgray;
    background: url(images/wine.jpg);
    background-repeat: repeat-y;
    
  }
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    max-height: 40%;
    border-radius: 8px;
  }

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lobster', cursive;
    line-height: 25px;
    border-radius: 4px;
   
  }

  img {
    top: 10px;
    position: relative;
  }

  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: right;
    }
  }

form {

    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 400px;
    margin: 2rem auto;
    border: 2px solid #f3e8e8;
    border-radius: 30px;
    
}

form {
  padding: 14px 14px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #f1f1f1;
  margin: auto;
  width: 100%;
  text-align: center;
  background-color:#f1f1f1;
  
    
    
    
}

.h2-header {
    color: darkgrey;
}


.recipe-search {
  padding: 14px 14px;
  border-radius: 8px;
  outline: none;
  /*border: 2px solid #EAEAEA;*/
  margin: auto;
  width: 100%;
  text-align: center;

}

label {
    display: block;
    font-family: 'Lobster', cursive;
    text-align: center;

}

input, textarea {
    justify-content: center;
    width: 60%;
    border: 1px solid #000000;
    object-position: center;
    border-radius: 8px;

    
}

.recipe-tab {
    padding: 14px 14px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #EAEAEA;
    margin: auto;
    width: 100%;
    text-align: center;
    background-color:#EAEAEA;

}

.recipe-title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    text-decoration: underline;

}

.recipe-ingredients {
    font-size: 20px;
    font-family: 'Lobster', cursive;
}


button {
    background-color: gray;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


